@import url('bootstrap.min.css');
@import url(../font-awesome/css/font-awesome.css);

@font-face {
    font-family: 'helveticaneuemedium';
    src: url("../fonts/helveticaneue_medium-webfont.woff2") format("woff2"), url("../fonts/helveticaneue_medium-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

div .text-color {
    color: #fbb710;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: "helveticaneuemedium";
    font-size: 16px;
}

    body div p {
        line-height: 2.1;
    }

div h3 {
    font-family: 'Montserrat', sans-serif;
}

.line {
    width: 80px;
    height: 3px;
    background-color: #fbb710;
    margin-bottom: 15px;
    display: block;
}

#con {
    padding-top: 10%;
}
.mb-50 {
    margin-bottom: 50px !important;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.cart-btn p {
    margin-bottom: 0;
    line-height: 40px;
    height: 40px;
    padding: 0 15px;
    background-color: #f5f7fa;
}

.cart-btn p {
    color: #6d6d6d;
    font-size: 16px;
    line-height: 1.9;
    font-weight: 400;
}

div .quantity {
    position: relative;
    z-index: 1;
}
 
.quantity .qty-minus {
    position: absolute;
    top: 21px;
    right: 0;
    line-height: 1;
    width: 30px;
    height: 25px;
    text-align: center;
    cursor: pointer;
    color: #959595;
}

.quantity .qty-plus {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 30px;
    width: 30px;
    text-align: center;
    height: 20px;
    cursor: pointer;
    color: #959595;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div .quantity input {
    text-align: center;
    background-color: #f5f7fa;
    height: 40px;
    width: 100px;
    border: none;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
    color: #959595;
}
.cart button .amado-btn {
    width: 310px;
    height: 80px;
    line-height: 80px;
}
.amado-btn {
    display: inline-block;
    min-width: 160px;
    height: 55px;
    color: #ffffff;
    border: none;
    border-radius: 0;
    padding: 0 7px;
    font-size: 18px;
    line-height: 56px;
    background-color: #fbb710;
    font-weight: 400;
}
.amado-btn:hover, .amado-btn:focus {
    background-color: #131212;
}
.comment-box{

}

.cart_button {
    display: inline-block;
    vertical-align: middle;
}
.button
{
	width: 178px;
	height: 61px;
	background: none;
	text-align: center;
	border: solid 2px #1b1b1b;
	overflow: hidden;
	cursor: pointer;
}
.button p
{
	display: block;
	position: relative;
	font-size: 16px;
	font-weight: 600;
	line-height: 57px;
	color: #1b1b1b;
	background: none;
	z-index: 1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.button:hover::after
{
	opacity: 1;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button:hover{
    background-color:black ;
}
.button:hover p
{
	color: #FFFFFF;
}
